.y-player-container {
  height: 80vh;
  overflow: auto;
  .y-player-scroll {
    .y-player-item {
      display: flex;
      padding: 10px 60px;
      white-space: pre;
      &:hover {
        background-color: rgba(255,255,255, 0.05);
        border-radius: 10px;
      }
      .y-text {
        font-size: 23px;
        font-weight: 600;
      }
    }
  }
}
