@player_padding: 10px 60px;

.y-player-container {
  height: 80vh;
  overflow: auto;
  .y-player-scroll {
    position: relative;
    .y-player-item {
      display: flex;
      padding: @player_padding;
      white-space: pre;
      flex-wrap: wrap;
      &:hover {
        background-color: rgba(255,255,255, 0.05);
        border-radius: 10px;
      }
      .y-text {
        background: rgba(255,255,255,0.3) -webkit-linear-gradient(left, #fff, #fff) no-repeat 0 0;;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 0% 100%;
        color: transparent;
        font-size: 23px;
        font-weight: 600;
        display: inline-block;
      }
    }
    .y-wait-item {
      display: flex;
      padding: @player_padding;
      .y-wait {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: rgba(255,255,255, 0.1);
      }
      .y-wait + .y-wait {
        margin-left: 10px;
      }
    }
  }
}
